.container {
  margin: 4rem 0;
  width: auto;
  padding: 1.5rem 1rem;
  text-align: center;
}

.content {
  max-height: 0;
  overflow: hidden;
}

.container {
  height: auto;
}

.titleTop {
  font-family: "Chromatica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2rem;
}

.subTitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.objectContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
}