.pageWrapper {
  background-color: color(lightGrey);
  padding: space(6);
  font-family: 'Chromatica', sans-serif;
  height: auto;
  @include respond-to(md) {
    height: 100vh;
    padding: 0;
    background-color: color(white);
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: space(4);
  height: 100%;
  @include respond-to(md) {
    gap: 0;
    flex-direction: row;
  }
}

.mobileContainer {
  background-color: color(white);
  border-radius: 11px;
  border: 1px solid color(grey);
  padding: space(6);
  @include respond-to(md) {
    display: none;
  }
}