.left {
  left: space(4);
}

.right {
  right: space(4);
}

.left, .right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: color(white);
  width: 45px;
  height: 45px;
  border-radius: 15px;
  box-shadow: 0px 1.406px 2.813px -1.406px rgba(24, 39, 75, 0.12),
    0px 1.875px 5.625px -0.937px rgba(24, 39, 75, 0.08);
  top: calc(50% + 17px);
  transform: translateY(-50%);
  z-index: 200;
  cursor: pointer;
}