.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: center;
  position: absolute;
  bottom: calc(3rem + 58px);
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.50);
  color: color(white);
  border-radius: 12px;
  padding: 4px;
  box-shadow: 0px 1px 4px 0px rgba(100, 106, 150, 0.08), 0px 6px 32px 0px rgba(100, 106, 150, 0.12);
}

.toggle {
  font-family: "Chromatica", sans-serif;
  color: color(white);
  border: 1px solid transparent;
  background: none;
  box-sizing: border-box;
  padding: 6px 8px;
  max-width: 100px;
  border-radius: 8px;
  transition: border 0.1s, background-color 0.1s, border-radius 0.1s, color 0.1s;
}

.toggle:hover, .toggleSelected {
  font-family: "Chromatica", sans-serif;
  background-color: #DFE3FF;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.20);
}