.trigger {
  background-color: #2a2cb1;
  border: none;
  color: white;
  font-family: "Chromatica", sans-serif;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  z-index: 4;
}

.content {
  min-width: 950px;
  background: white;
  padding: 2rem 1rem;
  border-radius: 8px;
  font-size: 16px;
}

.title {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom :1rem;
}

.elevationName {
  color: #646a96;
  font-weight: 700;
  margin-top: 1rem;
}

.lineItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.lineItem:not(:last-child) {
  border-bottom: 1px solid #dfe3ff;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  height: 56px;
  width: 56px;
  padding: 8px;
}

.thumbnailImg {
  height: auto;
  width: auto;
  object-fit: container;
  max-width: 38px;
  max-height: 56px;
}

.description {
  display: flex;
  flex-direction: column;
}

.partNumber {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Chromatica", sans-serif;
  font-weight: 700;
}

.distance {
  font-size: 12px;
  line-height: 24px;
  color: #646a96;
}

.price {
  margin: 0 0 0 auto;
}

.total {
  font-family: "Chromatica", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  background: #f8f8ff;
  font-weight: 700;
  line-height: 24px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm {
  cursor: pointer;
  color: white;
  font-family: "Chromatica", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #2a2cb1;
  background: #2a2cb1;
  box-shadow: 0px 0.891px 1.188px -0.891px rgba(24, 39, 75, 0.12),
    0px 1.188px 2.375px -0.891px rgba(24, 39, 75, 0.08);
  width: 200px;
  height: 50px;
  margin-top: 1rem;
}
