.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.orderSummary {
  font-family: "Chromatica", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.orderTotal {
  margin-left: 0.5rem;
  text-decoration: underline;
}