.container {
  width: auto;
  min-height: 150px;
  height: auto;
  border-top: 1px solid #dfe3ff;
  background: linear-gradient(180deg, #f8f8ff 0%, #fff 100%);
  position: relative;
}

.subContainer {
  display: flex;
  margin-top: 4rem;
  bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.content {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
