.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-size: 32px;
  font-family: 'Linotype', serif;
}

.subheading {
  font-size: 18px;
  margin-top: space(6);
  margin-bottom: space(8);
}

.button {
  border-radius: 2px;
  background-color: color(blue);
  color: color(white);
  padding: space(4);
  height: auto;
  width: 100%;
  cursor: pointer;
  font-family: 'Chromatica', sans-serif;
  font-size: 16px;
  border: none;
}
