.container {
  border: 1px solid color(lightIndigo);
  position: absolute;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color(white);
  border-radius: 32px;
  padding: space(2);
}

.editor,
.viewer,
.editorSelected,
.viewerSelected {
  display: flex;
  align-items: center;
  border-radius: 32px;
  padding: space(2) space(4);
  border: none;
  font-family: 'Chromatica';
}

.editor:hover,
.editorSelected:hover {
  cursor: pointer;
}

.editor,
.viewer {
  background: none;
}

.editorSelected,
.viewerSelected {
  background-color: color(lightIndigo);
}
